{% extends 'core/base.html' %}
{% load static %}
{% block sidebar %}
{% include 'core/partials/mainsidebar.html' %}
{% endblock  %}
{% block content %}

<div class="container-fluid mt-3">
	<div class="row mt-5">
		  <div class="col-4">
			  <div class="card">
					<img class="logo-small" src="{% static 'registration/img/ms.jpg'  %}" alt="Card image cap">
					<div class="card-body">
					<h5 class="card-title">Match Statistics</h5>
					<p class="card-text">Nuovo sito per allenatori e professionisti del calcio per gestire in tempo reale ogni singolo aspetto della partita</p>
					<p class="card-text"><p class="text-muted"><a href="{%url 'core:create'%}">Vai al sito</a></p></p>
					</div>
			  </div>
		  </div>
		  <div class="col-4">
			  <div class="card">
						  <img class="logo-small" src="{% static 'registration/img/banner1.jpg'  %}" alt="Immagine">
						  <div class="card-body">
							<h5 class="card-title">Un altro sito</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, officia aliquid nulla nobis inventore, beatae et voluptates ea ipsam consequuntur cupiditate quo quae nisi suscipit neque blanditiis esse quis fugiat!</p>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						  </div>
			  </div>
		  </div>
		  <div class="col-4">
				<div class="card">
					<img class="logo-small" src="{% static 'registration/img/banner2.jpg'  %}" alt="Immagine">
					<div class="card-body">
					<h5 class="card-title">un Terzo sito</h5>
					<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus suscipit assumenda eius, ipsa, veniam autem doloribus facere fugiat voluptatum quae, maxime quia voluptate rerum voluptas alias quo. Minus, reiciendis a.</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					</div>
				</div>
		  </div>
	</div>
</div>

{%endblock%}